{% render 'partials/head.liquid' %}

<h1>Kies een kleur</h1>
<form method="POST" action="/kleur">
  <button name="kleur" value="rood">Rood</button>
  <button name="kleur" value="blauw">Blauw</button>
  <button name="kleur" value="groen">Groen</button>
</form>

</body>